nav{
   background-color: rgb(0, 0,255); 
   margin: 0;
}

#heading1{
    color: white;
    text-align: center;
    margin-bottom: 0;
    text-shadow: 4px 4px 2px rgb(181, 181, 227);
}

a{
    color: rgb(23, 243, 118);
    text-align: center;
    text-decoration-line:none;
    /* font-weight: bold; */    
}

.nocolor{
 color: black
}

nav ul{
    list-style: none;    
    align-items: center;
    margin-left: 280px;
    margin-top: 0px;
}

nav li{
    display: inline;
    /* display: inline-block; */
    align-items: center;
    /* padding: 30px; */
}

.smalltextColored{
   font-size: smaller;
   color: chocolate;
   margin: 0;
   padding: 0;
   display:inline;
}

#quote{
    font-style: italic;
    font-size: smaller;
}

#boldheader2{
    font-size: large;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

img{
    margin: 0;
}

#centeredParagraphs
{
    text-align: center;
}

hr{
    margin:0;
}